{% extends "alcaldias/base.html" %}
{% block formulario %}
<div class="browser-container">
	<h3>Tu navegador no es muy bueno, cambialo o actualizalo por uno mejor, selecciona uno de la lista:</h3>
<figure>
	<img src="/static/img/opera.jpg" alt="Opera Mobile" />
	<figcaption>Opera</figcaption>
</figure>
<figure>
	<img src="/static/img/chrome.jpg" alt="Google Chrome" />
	<figcaption>Google Chrome</figcaption>
</figure>
<figure>
	<img src="/static/img/mozilla.jpg" alt="Mozilla Firefox" />
	<figcaption>Mozilla Firefox</figcaption>
</figure>

</div>
{% endblock %}